
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

.container{
    width: 1165px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    background: #354e3b;
}
.box{
    width: 375px;
}
.mr_20{
    margin-right: 20px;
}
.top{
    background: #e7eeea;
    padding:95px 57px;
}
h1{
    font-size: 80px;
    color: #37523d;
}
.bottom{
    padding:37px 30px 85px 30px;
    background: #fff;
}
h3{
    font-size: 26px;
    font-weight: bold;
    color: #37523d;
    letter-spacing: 0.2em;
    padding-bottom: 35px;
}
p{
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.2em;
    color:#000;
}